# fact caching to save time
facts_cache
# created by Ansible in case of failure
playbooks/deploy.retry
# local admin settings
# (ansible_become_pass for eg, provided your machine's storage is encrypted)
group_vars/all/local_settings.yml
# handled via ansible-galaxy
roles/selinux
roles/openssh
roles/memcached
roles/postgresql
roles/mailman3
roles/httpd
roles/httpd_php
roles/tor
roles/postgrey
roles/postfix
roles/guest_virt_tools
roles/entropy
roles/sasldb
roles/spamassassin
roles/dovecot
roles/builder
roles/msmtp
roles/unattended_updates
roles/mailing-lists-server
roles/chrony
