---
- hosts: all
  roles:
  - base
  - entropy
  - guest_virt_tools
  - selinux
  - openssh
  - admin_ssh_keys
  - unattended_updates
  - chrony
  tags: base


- hosts: mail.ovirt.org
  vars:
    vg_name: "data"
    ml_lv_name: "mailman"
    fs_type: xfs
  tasks:
  - name: Add swap file
    include_role:
      name: swap_file
    vars:
      size: 1G
      path: /var/swap
  - name: Test if partition for extra data exists
    stat:
      path: /dev/vdb1
    register: data_1
  - name: Partition disk for extra data
    parted:
      device: /dev/vdb
      label: gpt
      number: 1
      name: "data_1"
      flags: [ lvm ]
      state: present
    when: not data_1.stat.exists
  - name: Create LVM VG for extra data
    lvg:
      vg: "{{ vg_name }}"
      pvs: "/dev/vdb1"
      state: present
  # if we need more, adding a new PV in the VG would be very easy
  - name: Create LVM LV for Mailing-Lists data
    lvol:
      lv: "{{ ml_lv_name }}"
      vg: "{{ vg_name }}"
      size: "100%VG"
      state: present
  - name: Create filesystem for Mailing-Lists data
    filesystem:
      fstype: "{{ fs_type }}"
      dev: "/dev/{{ vg_name }}/{{ ml_lv_name }}"
  - name: Mount filesystem for Mailing-Lists data
    mount:
      src: "/dev/{{ vg_name }}/{{ ml_lv_name }}"
      path: /srv/data
      fstype: "{{ fs_type }}"
      state: mounted
  tags: partitioning


# use inventory_hostname or webui_vhost as hostname for MX and IMAP (TLS SAN OK)
- hosts: mail.ovirt.org
  vars:
    webui_vhost: lists.ovirt.org
    # due to https://github.com/ansible/ansible/issues/21890
    sa_config_bits: /etc/mail/spamassassin/local.cf.d
  tasks:
  - name: Install Mailing-Lists Server
    include_role:
      name: mailing-lists-server
      public: yes
    vars:
      display_name: "oVirt List Archives"
      domain: "{{ ovirt_domain }}"
      admin_users:
        - duck
        - misc
        - eyal
        - ederevea
        - doronf
        - didi
      mail_aliases:
        # Person who should get root's mail
        root: "{{ ['root'] + ovirt_infra_emails }}"
        listmaster: root
        www: webmaster
        webmaster: root
        noc: root
        hostmaster: root
        info: postmaster
        sales: postmaster
        support: postmaster
        # trap decode to catch security attacks
        decode: root
        contact: "{{ ovirt_infra_ml_pv }}"
        # aliases that jira would use
        infra-support: jira
        community: "{{ ovirt_community_emails }}"
        ## Random new aliases we create
        wordpress: community
        twitter: community
        identica: community
        ovirtbot: "{{ eedri_mail }}"
        kerri: "{{ kerri_mail }}"
        pr: "{{ ovirt_press_emails }}"
        press: "{{ ovirt_press_emails }}"
        hootsuite: "{{ eedri_mail }}"
        quaid: "{{ quaid_mail }}"
        events: community
        ovirt-copr: "{{ eedri_mail }}"
        infra-twitter: infra-private
        privacy: infra-private
        kubevirt-ci: infra-private
        # default assignee in bugzilla, no reply expected
        bugs: /dev/null
        # email used by Zuul, we don't need the replies
        zuul: /dev/null
      use_simple_tls: True
      # social_auth is defined in host_vars
      # caught by underlying 'mailman3' role
      with_fedora_auth: True
      # caught by underlying 'postgrey' role
      whitelist_clients:
        - gerrit.ovirt.org
        - redhat.com
      # caught by underlying 'postfix' role
      myorigin: "{{ ovirt_domain }}"
      mynetworks:
        - 66.187.230.42
      local_accounts:
        - jira
        - jenkins
      use_custom_favicon: True

  # needed for the 'synchronize' module
  - name: "Install rsync"
    package:
      name: rsync
      state: present
  - name: "Install Mail Templates"
    synchronize:
      src: "mailing/mail_templates/{{ item }}/"
      dest: "/var/lib/mailman3/templates/{{ item }}/"
      owner: no
      group: no
      delete: yes
    loop:
      - site
    notify: restart mailman3

  - name: Install custom favicon
    copy:
      src: "mailing/web/{{ item }}"
      dest: "{{ webapp_path }}/static-extra/"
      owner: root
      group: root
      mode: 0644
    loop:
      - favicon.ico
      - ovirt_logo.png
    notify: Update static files
  - name: Install custom branded navbar template
    copy:
      src: "mailing/web/navbar-brand.html"
      dest: "{{ webapp_path }}/templates/hyperkitty/"
      owner: root
      group: root
      mode: 0644
    notify: reload apache
  # quick fix for SPAM generating a low Spamassassin score
  - name: SPAM filtering
    copy:
      src: "mailing/sa_ovirt_mls.cf"
      dest: "{{ sa_config_bits }}/10_ovirt_mls.cf"
    notify: regenerate spamassassin configuration
  - name: Discard very-likely SPAM
    blockinfile:
      path: /etc/postfix/header_checks
      block: |
        /^X-Spam-Level: \*{8,}/ DISCARD
      marker: "# {mark} ANSIBLE MANAGED BLOCK ML-SPAM"
    notify: reload mail system
  - name: Install POP3 Server
    include_role:
      name: dovecot
    vars:
      with_pop3: true
      # inherit TLS settings from 'mailing-lists-server' role
      auth: yaml-dict
  - name: Configure web access to old ML archives
    copy:
      src: "mailing/web/old_ml_archives.conf"
      # Duck: we should think about making _vhost_confdir part of the public API
      dest: "{{ _vhost_confdir }}/"
      owner: root
      group: root
      mode: 0644
    notify: reload httpd
  - name: install Dovecot users
    copy:
      src: mailing/users/
      dest: /etc/dovecot/users/
  - name: Auto-expire Jenkins mailbox
    cron:
      name: "Auto-expire Jenkins mailbox"
      minute: "21"
      hour: "6"
      user: root
      job: "doveadm expunge -u jenkins mailbox Inbox savedbefore 30d"


- hosts: mail.ovirt.org
  tasks:
    - name: use the second disk for all Mailman3 data
      include_role:
        name: data_movebind
      vars:
        src: /var/lib/mailman3
        dest: /srv/data/mailman3-lib
        services:
          - crond
          - mailman3
          - httpd
    - name:  use the second disk for all Hyperkitty+Postorius data
      include_role:
        name: data_movebind
      vars:
        src: /var/www/mailman
        dest: /srv/data/mailman3-www
        services:
          - crond
          - mailman3
          - httpd
  tags: ml_storage


- hosts: web_builders
  vars:
    website_username: web_builder
  roles:
  - role: builder
    builder_name: "{{ website_name }}"
    builder: "{{ website_builder | default('middleman') }}"
    builder_username: "{{ website_username }}"
    git_url: "{{ website_repo_url }}"
    git_version: master
    cron_error_email: "{{ osas_builder_error_email }}"
  - role: msmtp
    smart_host: "{{ mail_forwarder }}"
    disable_freeipa: true

- hosts: www.ovirt.org
  tasks:
    - name: create web builder's user
      user:
        name: "{{ websync_user }}"
        comment: "Web Builder User"
    - name: "Create vhost for {{ inventory_hostname }}"
      include_role:
        name: httpd
        tasks_from: vhost
      vars:
        website_domain: www.ovirt.org
        server_aliases:
          - ovirt.org
        document_root: "{{ websync_path }}"
        document_root_group: "{{ websync_user }}"
        use_tls: True
        use_letsencrypt: True
        mail_domain: ovirt.org
        force_tls: True
        redirects:
          - src: /stats
            target: https://ovirt.biterg.io/
          - src: "^/blog/(.*)\\.html"
            target: "http://blogs.ovirt.org/$1/"
            match: True
          - src: "^/blog/(.*)"
            target: "http://blogs.ovirt.org/$1"
            match: True

- hosts: www.ovirt.org
  tasks:
    - name: Create redirection for jira.ovirt.org
      include_role:
        name: httpd
        tasks_from: vhost
      vars:
        website_domain: jira.ovirt.org
        use_tls: True
        use_letsencrypt: True
        mail_domain: ovirt.org
        force_tls: True
        redirect: https://ovirt-jira.atlassian.net/
  tags: jira

