[DEFAULT]
allow_anonymous_access=true
enable_v1_api=true
enable_v2_api=true
bind_host=0.0.0.0
bind_port=9292
workers=4
image_cache_dir=/var/lib/glance/image-cache
registry_host=0.0.0.0
debug=False
log_file=/var/log/glance/api.log
log_dir=/var/log/glance
enable_v1_api=False
[database]
connection=mysql+pymysql://glance:{{ credentials['glance_dbpass'] }}@127.0.0.1/glance
[glance_store]
stores=file
default_store=file
filesystem_store_datadir=/var/lib/glance/images/
os_region_name=RegionOne
[keystone_authtoken]
www_authenticate_uri=http://127.0.0.1:5000/v3
auth_uri=http://127.0.0.1:5000/v3
auth_type=password
auth_url=http://127.0.0.1:5000
username=admin
password={{ credentials['admin_pass'] }}
user_domain_name=Default
project_name=admin
project_domain_name=Default
[oslo_policy]
policy_file=/etc/glance/policy.json
[paste_deploy]
flavor=keystone
